#include "Resources.h"

// ---------------------------------------------------------------------

IDI_ICON        ICON        "Resources\\balloons-icon.ico"
IDC_CURSOR      CURSOR      "Resources\\cursor.cur"

// ---------------------------------------------------------------------


